.button:before {
  @apply content-[''] hidden absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 rounded-xl;
}
.button:before:hover {
  @apply block;
}

.button {
  @apply relative text-xl;
  // box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);

  &-large {
    @apply text-4xl;
  }

  // &::after {
  //   content: "";
  //   box-shadow: 0px 5px 0px 0px rgba(125,125,125,0.75);
  //   @apply w-[98%] h-full rounded-lg absolute bottom-0 left-1/2 -translate-x-1/2;
  // }
}

.button {
  // box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
}

.transition-card {
  @apply transition duration-150 ease-out;
}

.card {
  // transition: transform 0.2s ease;
  animation: float-card 5s ease-in-out infinite;
  margin-right: -2rem;

  &:hover {
    animation: none;
  }
}

@keyframes float-card {
  0% {transform: rotateX(0) rotateY(0);}
  33% {transform: rotateX(3deg) rotateY(3deg) translateY(-2px);}
  // 30% {transform: rotateY(0);}
  66% {transform: rotateX(-3deg) rotateY(-3deg) translateY(2px);}
  100% {transform: rotateX(0) rotateY(0);}
}


.card:hover {
  // animation: shake 0.5s ease-in-out;
  // animation-fill-mode: forwards;
}
@keyframes float-card-selected {
  0% {transform: rotateX(0) rotateY(0) translateY(-40px);}
  33% {transform: rotateX(3deg) rotateY(3deg) translateY(-42px);}
  // 30% {transform: rotateY(0);}
  66% {transform: rotateX(-3deg) rotateY(-3deg) translateY(-38px);}
  100% {transform: rotateX(0) rotateY(0) translateY(-40px);}
}

.card-selected {
  animation: float-card-selected 5s ease-in-out infinite;
  // transform: translateY(-10px);
  &:hover {
    animation: none;
  }
}

.home-bg {
  // background: url("./assets/home-bg.gif") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.app-root {
  position: relative;
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
}

.screen-transition {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #1b2628;
  transform: translate(-50%, -50%) rotate(20deg);
  animation: grow-fullscreen 2s ease forwards;
  z-index: 1000;
}

@keyframes grow-fullscreen {
  0% {
    width: 0;
    height: 0;
  }
  35% {
    width: 150vw;
    height: 150vw;
    background-color: #1b2628;
  }
  75% {
    width: 150vw;
    height: 150vw;
    background-color: #478a6d;
    opacity: 1;
  }
  100% {
    // width: 150vw;
    // height: 150vw;
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.02);
  }
  40% {
    transform: scale(1.04);
  }
  60% {
    transform: scale(1.06);
  }
  80% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1.1);
  }
}

.volume-container {
  &:hover {
    .volume-slider {
      visibility: visible;
    }
  }
}

.volume-slider {
  width: 100px;
  appearance: none;
  background: #ddd;
  height: 4px;
  border-radius: 5px;
  visibility: hidden;

  &::-webkit-slider-thumb {
    appearance: none;
    background: #555;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }
}

@keyframes float-forecast-score {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes float-dollar-blind {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0); /* remains still for the rest of the cycle */
  }
}

.animate-forecast-score {
  animation: float-forecast-score 3s ease-in-out infinite;
}
.animate-dollar-blind {
  animation: float-dollar-blind 2.5s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.wave-letter {
  display: inline-block;
  animation: wave 5s ease-in-out infinite;
}
